
@{
    ViewBag.Title = "Administrator";
    Layout ="~/Views/Shared/_AdminLayout.cshtml";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In | Shopfiy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="d-flex" style="margin: 5rem 0 5rem">

    </div>
</body>
</html>

