
@{
    ViewBag.Title = "Administrator";
    ViewBag.HideNavbar = true;

    var currentTime = DateTime.Now.TimeOfDay;
    string greeting;

    if (currentTime < TimeSpan.FromHours(12))
    {
        greeting = "Good Morning";
    }
    else if (currentTime < TimeSpan.FromHours(17))
    {
        greeting = "Good Afternoon";
    }
    else
    {
        greeting = "Good Evening";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div class="d-flex" style="margin: 5rem 0 5rem">
        <form class="m-auto border p-5 rounded shadow" id="login_form" method="post" action="../Store/AdminAuthentication">
            <div class="form-label"><label class="form-label fw-bold fs-3 pb-5">@Html.Raw(greeting)<small class="text-primary"> Colleague!</small></label></div>
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="cus_email" name="cus_email" class="form-control container" />
                <label class="form-label" for="cus_email">Email address</label>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="cus_pass" name="cus_pass" class="form-control container" />
                <label class="form-label" for="cus_pass">Password</label>
            </div>
            <!-- Submit button -->
            <div class="d-flex justify-content-center">
                <input type="submit" id="cus_sbmt" class="btn btn-primary btn-block mb-4 w-100" value="Sign in" />
            </div>


            <!-- Register buttons -->
            <div class="text-center">
                <small>Problems signing in? Contact <a href="#" class="text-decoration-none">Administrator.</a></small>
            </div>
        </form>
    </div>
    @section scripts {
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/JavaScript/Admin/Login.js"></script>
        }
</body>
</html>