
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Administrator";
}

@model List<Ecommerce.Models.Store.Distributor>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/Content/stylesheets/productentry.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1>Product Entry Form</h1>
        <small>Register your product on the form below.</small>
    </div>

    <!--Ask for name input-->

    <div class="grid-layout p-2 shadow-sm rounded-3">
        <div class="main">
            <form class="p-2" id="entry-form" method="post" @Url.Action("Entries", "Store") enctype="multipart/form-data">
                <fieldset>
                    <h6>Entered By:</h6>
                    <div><small class="text-danger">*</small><label for="userId">I.D. Number:</label><input class="required form-control w-100 h-100" autocomplete="on" type="text" placeholder="I.D. Number" name="userId" id="userId" /></div>
                </fieldset>

                <fieldset>
                    <h6>Product Information</h6>
                    <div><small class="text-danger">*</small><label for="make">Product Make: </label><input class="form-control w-100 h-100" type="text" placeholder="Make: Samsung" autocomplete="on" id="make" name="make" /></div>
                    <div><small class="text-danger">*</small><label for="model">Product Model: </label><input class="form-control w-100 h-100" type="text" placeholder="Model: Galaxy A5" autocomplete="on" id="model" name="model" /></div>
                    <div>
                        <small class="text-danger">*</small>
                        <select id="distributor" name="distributor" class="form-control">
                            <option disabled selected>Distributor</option>

                            @{
                                if (Model != null && Model.Count > 0)
                                {
                                    foreach (var dis in Model)
                                    {
                                        <option value="@dis.D_ID">@dis.D_NAME</option>
                                    }
                                }
                            }

                        </select>
                    </div>

                    <div><small class="text-danger">*</small><label for="purchase-date">Purchase Date: </label><input class="form-control w-100 h-100" type="date" placeholder="Date" id="purchase-date" name="purchase-date" /> <small>Please provide date purchased</small></div>
                </fieldset>

                <fieldset>
                    <div><small class="text-danger">*</small><label for="price">Price </label><input class="form-control w-100 h-100" type="number" placeholder="Ex. 40000" id="price" name="price" /> <small>Price entered should be without decimal (40000 = 400.00).<br /></small></div>
                    <div><small class="text-danger">*</small><label for="quantity">Quantity </label><input class="form-control w-100 h-100" type="number" placeholder="Ex. 1" id="quantity" name="quantity" /></div>
                    <div><small class="text-danger">*</small><label for="warranty">Warranty (Year)</label><input class="form-control w-100 h-100" type="number" id="warranty" name="warranty" /></div>
                </fieldset>

                <fieldset>
                    <div>
                        <label for="desc">Description</label>
                        <textarea placeholder="Add description" style="text-align:left; vertical-align:top;" cols="50" rows="3" class="form-control" id="desc" name="desc"></textarea>
                    </div>
                    <div>
                        <label for="prodimg">Product Image</label>
                        <input class="form-control" type="file" id="prodimg" name="prodimg" />
                    </div>
                </fieldset>

                <div class="gap d-flex">
                    <input class="w-100 h-100 btn btn-primary mb-3 shadow rounded-5" id="sbmt" type="submit" value="Register Product" />
                </div>
            </form>
        </div>
        <div class="w-100 p-2x" id="img-container">
            <img src="~/Content/assets/prod_entry.png" class="img-fluid my-auto p-3" style="display:inherit;" />
        </div>
    </div>
    @section scripts {
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/JavaScript/Api.js"></script>
        <script src="~/Scripts/JavaScript/Admin/ProductEntryControl.js"></script>
        <script src="~/Scripts/JavaScript/Admin/DateRestrict.js"></script>
    }
</body>
</html>

