
@{
    ViewBag.HideNavbar = true;
    ViewBag.Title = "Sign Up";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up | Shopfiy</title>
</head>
<body>
    <!-- Section: Design Block -->
    <section>
        <!-- Jumbotron -->
        <div class="px-lg-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            The best offer <br />
                            <span class="text-primary">awaits you!</span>
                        </h1>
                        <p style="color: hsl(217, 10%, 50.8%)">
                            Step into a world of endless possibilities.
                            Sign up today and unlock exclusive deals tailored just for you.
                            Your shopping adventure awaits!
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card shadow">
                            <div class="card-body py-5 px-md-5">
                                <form method="post" id="register">
                                    <div class="py-3 text-primary"><h1 class="fs-1 fw-bold">Sign up now!</h1></div>
                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="text" id="reg_fname" name="firstname" class="form-control" />
                                                <label class="form-label" for="reg_fname">First name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="text" id="reg_lname" name="lastname" class="form-control" />
                                                <label class="form-label" for="reg_lname">Last name</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Email input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="email" id="reg_email" name="email" class="form-control" />
                                        <label class="form-label" for="reg_email">Email address</label>
                                    </div>

                                    <!-- Phone input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="reg_phone" name="phone" class="form-control" />
                                        <label class="form-label" for="reg_phone">Phone</label>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="text" id="reg_street" name="street" class="form-control" />
                                                <label class="form-label" for="reg_street">Street</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div data-mdb-input-init class="form-outline">
                                                <input type="text" id=" " name="reg_brgy" class="form-control" />
                                                <label class="form-label" for="reg_brgy">Barangay</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div data-mdb-input-init class="form-outline">
                                                <select class="form-select w-100 h-100" id="reg_city" name="city">
                                                    <option disabled selected>City</option>
                                                </select>
                                                <label class="form-label" for="reg_city">City</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div data-mdb-input-init class="form-outline">
                                                <select class="form-select w-100 h-100" id="reg_province" name="province">
                                                    <option disabled selected>Province</option>
                                                </select>
                                                <label class="form-label" for="reg_province">Province</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="password" id="reg_zip" name="zip code" class="form-control" />
                                        <label class="form-label" for="reg_zip">Zip Code</label>
                                    </div>

                                    <!-- Password input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="password" id="reg_pass" name="password" class="form-control" />
                                        <label class="form-label" for="reg_pass">Password</label>
                                    </div>

                                    <!-- Checkbox -->
                                    <div class="form-check d-flex justify-content-center mb-4">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="reg_news" name="reg_news" checked />
                                        <label class="form-check-label" for="reg_news">
                                            Subscribe to our newsletter
                                        </label>
                                    </div>

                                    <!-- Submit button -->
                                    <button type="submit" id="reg_sbmt" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4 w-100">
                                        Sign up
                                    </button>

                                    <!-- Register buttons -->
                                    <div class="text-center">
                                        <p>or sign up with:</p>
                                        <button type="button" data-mdb-button-init data-mdb-ripple-init id="cus_fb" name="cus_fb" class="btn btn-link btn-floating mx-1">
                                            <i class="bi bi-facebook fs-3"></i>
                                        </button>

                                        <button type="button" data-mdb-button-init data-mdb-ripple-init id="cus_google" name="cus_google" class="btn btn-link btn-floating mx-1">
                                            <i class="bi bi-google fs-3"></i>
                                        </button>

                                        <button type="button" data-mdb-button-init data-mdb-ripple-init id="cus_twitterX" name="cus_twitterX" class="btn btn-link btn-floating mx-1">
                                            <i class="bi bi-twitter-x fs-3"></i>
                                        </button>
                                    </div>

                                    <!-- Have an account!? -->
                                    <div class="text-center">
                                        <small>Already have an account? @Html.ActionLink("Log In!", "Index", "LogIn")</small>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>
    @section scripts {
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        @*<script src="~/Scripts/JavaScript/Log_in/SignUp.js"></script>*@
        <script src="~/Scripts/JavaScript/Api.js"></script>
        <script>
            $(function () {
                const validation = () => {
                    var inputs = ['reg_fname', 'reg_lname', 'reg_email', 'reg_phone', 'reg_street', 'reg_brgy', 'reg_city', 'reg_province', 'reg_zip', 'reg_pass'];
                    var isValid = true;

                    for (var i = 0; i < inputs.length; i++) {
                        var input = $('#' + inputs[i]);
                        if (!input.val()) {
                            alert('Please fill out the ' + input.attr('name') + ' field.');
                            isValid = false;
                            break;
                        }
                    }
                    return isValid;
                }


                $("#register").on("submit", function (e) {
                    e.preventDefault();
                    validation();

                    let formData = new FormData(this);

                    $.ajax({
                        url: "../LogIn/Register",
                        method: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            alert(data);
                        },
                        fail: function (error) {

                        }
                    })
                })
            })
        </script>
    }
    <!-- Section: Design Block -->
</body>
</html>

